body
{
    page-break-after: always;
    font-family: Tahoma;
    margin: 0px;
}
.pageborder
{
    border-right: black thin solid;
    border-top: black thin solid;
    margin: 1px;
    border-left: black thin solid;
    border-bottom: black thin solid;
}
.BarcodeStyle
{
    font-family: AdvC39b;
    color: #000000;
    background-color: white;
}
.ButtonStyle
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #000000;
    width: 60px;
    border: 1px groove #003399;
    background-color: white;
    display:none;
}
.PrintButton
{
    display: none;
}
#PrintButton
{
    display: none;
}

.DocTitle
{
    font-size: larger;
    font-family: Tahoma;
    font-weight: bold;
}
.HeaderTable Table
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
.HeaderTable td span.Special
{
    text-decoration: underline;
    font-weight: bold;
}
.ItemList th
{
    font: bold 11px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-left: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 6px;
}

.ItemList td
{
    margin: 0px;
    background: #fff;
    color: #4f6b72;
    border-right: #c1dad7 1px solid;
    border-top: #c1dad7 1px solid;
    border-left: #c1dad7 1px solid;
    border-bottom: #c1dad7 1px solid;
    padding: 6px 6px 6px 6px;
}

.ItemList td.alt
{
    background: #F5FAFA;
    color: #797268;
}

.ItemList th.spec
{
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #fff url(images/bullet1.gif) no-repeat;
    font: bold 10px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
}

.ItemList th.specalt
{
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    font: bold 10px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
    color: #797268;
}
